@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

html {
    font-size: 1.5rem;
    font-family: 'Old Standard TT', serif;
}

body {
    background-color:hsl(178, 25%, 30%)
}

div {
    color: white;
}

h1, h2 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

.inactive {
    opacity: 0.5;
}

hr {
    outline: grey;
    opacity: 0.5;
    width: 100%;
}

button {
    border: 0;
    background:hsl(11, 59%, 47%);
    box-shadow: none;
    border-radius: 10%;
    color: white;
    font-size: 0.75rem;
    font-family: 'Old Standard TT';
}

a, a:hover, a:focus, a:visited {
    color: white;
    text-decoration: underline;
}